SECRET_KEY=
DEBUG=

HTTP_PORT=

# Poke Guesser DB
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# POGOTracker DB
POGOTRACKER_DB_HOST=
POGOTRACKER_DB_PORT=
POGOTRACKER_DB_NAME=
POGOTRACKER_DB_USER=
POGOTRACKER_DB_PASSWORD=
