SECRET_KEY=
DEBUG=true

HTTP_PORT=8085

# Poke Guesser DB
DB_HOST=pokeguesser_db
DB_PORT=5432
DB_NAME=pokeguesser_db
DB_USER=docker_user1234
DB_PASSWORD=docker_pass1234

# POGOTracker DB
POGOTRACKER_DB_HOST=pokeguesser_pogotracker_db
POGOTRACKER_DB_PORT=5432
POGOTRACKER_DB_NAME=pokeguesser_pogotracker_db
POGOTRACKER_DB_USER=pogo_docker_user1234
POGOTRACKER_DB_PASSWORD=pogo_docker_pass1234